/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/sticky-header-oceanwp//style.css?ver=5.2.1 ; media=all */
@media all{
#site-logo-inner,#site-header-inner{transition:all .3s ease-in-out;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/all.min.css?ver=3.6.0 ; media=all */
@media all{
.fa,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-angle-down:before{content:"\f107";}
.fa-angle-up:before{content:"\f106";}
.fa-bars:before{content:"\f0c9";}
.fa-caret-right:before{content:"\f0da";}
.fa-caret-up:before{content:"\f0d8";}
.fa,.fas{font-family:"Font Awesome 5 Free";}
.fa,.fas{font-weight:900;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/uploads/essential-addons-elementor/eael-post-375.min.css?ver=1574262320 ; media=all */
@media all{
.eael-data-table{width:100%;height:auto;margin:0;border-collapse:collapse;border:none;}
.eael-data-table tr{border-style:none;}
.eael-data-table thead tr{text-align:left;}
.eael-data-table thead tr th{padding:20px 15px;background:#4a4893;font-size:16px;font-weight:600;font-family:Montserrat,sans-serif;line-height:1;color:#fff;border-color:#000;border-width:2px;border-style:none;background-clip:padding-box;}
.eael-data-table thead tr th:hover{border-color:#000;}
.eael-data-table tbody tr td{padding:20px 15px;font-size:14px;font-family:Montserrat,sans-serif;line-height:1;border-width:2px;border-style:none;background-clip:padding-box;}
@media (max-width:767px){
.eael-data-table-wrap{overflow-x:scroll!important;padding-bottom:5px;}
.td-content-wrapper{display:flex;width:100%;}
.td-content{width:100%;justify-content:center;}
.eael-data-table .td-content{align-items:center;display:flex;}
}
.eael-table-align-center table.eael-data-table{margin:0 auto;}
.eael-dt-th-align-left .eael-data-table thead tr th{text-align:left;}
.eael-dt-td-align-left .eael-data-table tbody tr td{text-align:left;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/css/third/font-awesome.min.css?ver=4.7.0 ; media=all */
@media all{
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-bars:before{content:"\f0c9";}
.fa-caret-up:before{content:"\f0d8";}
.fa-caret-right:before{content:"\f0da";}
.fa-angle-up:before{content:"\f106";}
.fa-angle-down:before{content:"\f107";}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/css/third/simple-line-icons.min.css?ver=2.4.0 ; media=all */
@media all{
.icon-close,.icon-magnifier{font-family:'simple-line-icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.icon-close:before{content:"\e082";}
.icon-magnifier:before{content:"\e090";}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/css/third/magnific-popup.min.css?ver=1.0.0 ; media=all */
@media all{
button::-moz-focus-inner{padding:0;border:0;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/css/style.min.css?ver=1.7.1 ; media=all */
@media all{
body,div,span,h1,h2,p,a,b,i,ul,li,form,table,tbody,thead,tr,th,td,footer,header,nav,section{margin:0;padding:0;border:0;outline:0;font-size:100%;font:inherit;vertical-align:baseline;font-family:inherit;font-size:100%;font-style:inherit;font-weight:inherit;}
footer,header,nav,section{display:block;}
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
footer,header,main,nav,section{display:block;}
table{border-collapse:collapse;border-spacing:0;}
th,td{font-weight:normal;text-align:left;}
a:focus{outline:none;}
a:hover,a:active{outline:0;}
body{font-family:"Open Sans",sans-serif;font-size:14px;line-height:1.8;color:#929292;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;overflow-wrap:break-word;word-wrap:break-word;}
body{background-color:#fff;}
::selection{color:#fff;background:#333;text-shadow:none;}
::-moz-selection{color:#fff;background:#333;text-shadow:none;}
body{margin:0;}
footer,header,main,nav,section{display:block;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
b{font-weight:600;}
button,input{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button{text-transform:none;}
button{-webkit-appearance:button;cursor:pointer;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
.container{width:1200px;max-width:90%;margin:0 auto;}
#wrap{position:relative;}
#main{position:relative;}
@media only screen and (max-width: 959px){
.container{max-width:90%;}
}
@media only screen and (max-width: 767px){
#wrap{width:100%!important;}
}
table{width:100%;margin-bottom:2.618em;}
table th,table td{padding:10px;text-align:left;vertical-align:top;border-bottom:1px solid #e9e9e9;}
table th{text-transform:uppercase;}
table tr th:first-child,table tr td:first-child{padding-left:0;}
table tr th:last-child,table tr td:last-child{padding-right:0;}
.clr:after{content:'';display:block;visibility:hidden;clear:both;zoom:1;height:0;}
a{color:#333;}
a:hover{color:#13aff0;}
a,a:hover,a:focus{text-decoration:none;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
h1,h2{font-weight:600;margin:0 0 20px;color:#333;line-height:1.4;}
h1{font-size:23px;}
h2{font-size:20px;}
p{margin:0 0 20px;}
ul{margin:15px 0 15px 20px;}
li ul{margin:0 0 0 25px;}
@media print{
*{background:transparent!important;-webkit-box-shadow:none!important;-moz-box-shadow:none!important;box-shadow:none!important;text-shadow:none!important;}
a,a:visited{text-decoration:underline;}
a[href]:after{content:" (" attr(href) ")";}
a[href^="#"]:after{content:"";}
thead{display:table-header-group;}
tr{page-break-inside:avoid;}
p,h2{orphans:3;widows:3;}
h2{page-break-after:avoid;}
}
form input[type="search"]{display:inline-block;min-height:40px;width:100%;font-size:14px;line-height:1.8;padding:6px 12px;vertical-align:middle;background-color:transparent;color:#333;border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;border-radius:3px;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
input[type="search"]{-webkit-appearance:none;}
form input[type="search"]:focus{border-color:#bbb;outline:0;}
form input:focus:invalid{color:#b94a48;border-color:#e9322d;}
button[type="submit"]{display:inline-block;font-family:inherit;background-color:#13aff0;color:#fff;font-size:12px;font-weight:600;text-transform:uppercase;margin:0;padding:14px 20px;border:0;cursor:pointer;text-align:center;letter-spacing:0.1em;line-height:1;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-ms-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
button[type="submit"]:hover,button[type="submit"]:focus{background-color:#0b7cac;color:#fff;}
button[type="submit"]:focus,button:focus{outline:0;}
button::-moz-focus-inner{padding:0;border:0;}
#site-header{position:relative;width:100%;background-color:#fff;border-bottom:1px solid #f1f1f1;z-index:100;}
#transparent-header-wrap{position:relative;}
#site-header-inner{position:relative;height:100%;}
#site-logo{float:left;height:100%;display:table;}
#site-logo #site-logo-inner{display:table-cell;vertical-align:middle;height:74px;}
#site-logo #site-logo-inner a{background-color:transparent!important;}
#site-logo a.site-logo-text{font-size:24px;margin:0;}
@media only screen and (max-width: 767px){
#site-logo{margin-top:0px!important;margin-bottom:0px!important;}
}
#site-header.transparent-header{position:absolute;top:0;background-color:transparent;height:auto;z-index:9999;}
#site-navigation-wrap{float:right;position:relative;right:-15px;}
#site-navigation-wrap .dropdown-menu{list-style:none;margin:0;padding:0;}
#site-navigation-wrap .dropdown-menu>li{float:left;position:relative;}
#site-navigation-wrap .dropdown-menu>li>a{display:block;font-size:13px;line-height:74px;color:#555;padding:0 15px;letter-spacing:0.6px;}
#site-navigation-wrap .dropdown-menu>li>a:hover{color:#13aff0;}
#site-navigation-wrap .dropdown-menu>li>a .nav-arrow{padding-left:6px;line-height:1;}
.sf-menu,.sf-menu *{margin:0;padding:0;list-style:none;}
.sf-menu li.menu-item{position:relative;white-space:nowrap;white-space:normal;}
.sf-menu li:hover{-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none;transition:none;}
.sf-menu ul.sub-menu{position:absolute;display:none;top:100%;left:0;z-index:9999;}
.sf-menu>li{float:left;}
.sf-menu li:hover>ul{display:block;}
.sf-menu a.menu-link{display:block;position:relative;zoom:1;}
.dropdown-menu,.dropdown-menu *{margin:0;padding:0;list-style:none;}
.dropdown-menu .sub-menu{display:none;position:absolute;top:100%;left:0;background-color:#fff;border-top:3px solid #13aff0;min-width:180px;line-height:1;text-align:left;z-index:999;-webkit-box-shadow:0 2px 6px rgba(0,0,0,0.1);-moz-box-shadow:0 2px 6px rgba(0,0,0,0.1);box-shadow:0 2px 6px rgba(0,0,0,0.1);}
.dropdown-menu li .sub-menu li.menu-item{display:block;float:none;}
.dropdown-menu ul li.menu-item{display:block;border-bottom:1px solid #f1f1f1;}
.dropdown-menu ul li.menu-item:last-child{border-bottom:0;}
.dropdown-menu ul li a.menu-link{display:block;position:relative;float:none;font-size:12px;font-weight:400;line-height:1.2em;letter-spacing:0.6px;padding:12px 15px;text-transform:capitalize;}
.dropdown-menu ul li a.menu-link:hover{background-color:#f8f8f8;color:#555;}
.oceanwp-mobile-menu-icon{display:none;position:relative;}
.oceanwp-mobile-menu-icon.mobile-right{float:right;}
.oceanwp-mobile-menu-icon a{font-size:13px;line-height:74px;color:#555;padding-left:15px;letter-spacing:0.6px;cursor:pointer;}
.oceanwp-mobile-menu-icon a:first-child{padding-left:0;}
.oceanwp-mobile-menu-icon a:hover{color:#13aff0;}
.oceanwp-mobile-menu-icon a.mobile-menu .oceanwp-text{padding-left:6px;}
.site-footer{position:relative;}
#footer-bottom{background-color:#1B1B1B;padding:15px 0;font-size:12px;line-height:1;}
#footer-bottom #copyright{width:50%;}
#footer-bottom.no-footer-nav #copyright{float:none;width:100%;text-align:center;padding-left:0!important;padding-right:0!important;}
#footer-bottom #copyright{float:left;text-align:left;padding-right:15px;}
@media only screen and (max-width: 959px){
#footer-bottom #copyright{float:none;width:100%;padding-right:0;padding-left:0;text-align:center;}
}
#scroll-top{display:none;position:fixed;right:20px;bottom:20px;width:40px;height:40px;line-height:40px;background-color:rgba(0,0,0,0.4);color:#fff;font-size:18px;cursor:pointer;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;border-radius:2px;text-align:center;z-index:100;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;}
#scroll-top>span{line-height:inherit;vertical-align:top;}
#scroll-top:hover{background-color:rgba(0,0,0,0.8);}
@media only screen and (max-width: 480px){
#scroll-top{right:10px;bottom:10px;width:26px;height:26px;line-height:24px;font-size:14px;}
}
#sidr-close{display:none;}
#sidr{display:block;position:fixed;top:0;height:100%;z-index:999999;width:300px;max-width:100%;padding-bottom:30px;overflow-x:hidden;overflow-y:auto;font-size:15px;background-color:#fff;color:#555;-webkit-touch-callout:none;user-select:none;-webkit-overflow-scrolling:touch;}
#sidr ul{margin:0;list-style:none;}
.sidr.left{left:-300px;right:auto;}
.sidr a{color:#555;}
.sidr a:hover{color:#13aff0;}
a.sidr-class-toggle-sidr-close{display:block;background-color:#f8f8f8;color:#333;font-size:13px;font-weight:600;line-height:1;padding:20px;letter-spacing:0.6px;text-transform:uppercase;}
a.sidr-class-toggle-sidr-close i{display:inline-block;padding-right:8px;margin:0;width:auto;height:auto;line-height:1;vertical-align:bottom;}
.sidr-class-dropdown-menu ul{display:none;border-top:1px solid rgba(0,0,0,0.035);margin-left:0;background-color:rgba(0,0,0,0.02);}
.sidr-class-dropdown-menu li{border-bottom:1px solid rgba(0,0,0,0.035);}
.sidr-class-dropdown-menu>li:first-child{border-top:1px solid rgba(0,0,0,0.035);}
.sidr-class-dropdown-menu li a{padding:12px 20px;display:block;position:relative;}
.sidr-class-dropdown-menu ul li:last-child{border:none;}
.sidr-class-menu-item-has-children{position:relative;}
.sidr-class-dropdown-menu li.sidr-class-menu-item-has-children>a{padding-right:60px;}
.sidr-class-dropdown-menu ul a:before{font-family:'FontAwesome';content:'\f105';display:inline-block;margin:0 10px;}
.sidr .sidr-class-nav-arrow{display:none!important;}
#mobile-menu-search{display:none;}
.sidr-class-mobile-searchform{position:relative;margin:30px 20px 0;}
.sidr-class-mobile-searchform input{padding:6px 45px 6px 12px!important;margin-top:0!important;-webkit-box-sizing:inherit;-moz-box-sizing:inherit;box-sizing:inherit;}
.sidr-class-mobile-searchform button{display:block;position:absolute;right:10px;height:30px;line-height:30px;width:30px;padding:0;text-align:center;top:50%;margin-top:-15px;background-color:transparent!important;color:#555;border:0;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.sidr-class-mobile-searchform button:hover{color:#222;}
@media only screen and (max-width: 959px){
body.default-breakpoint #site-navigation-wrap{display:none;}
body.default-breakpoint .oceanwp-mobile-menu-icon{display:block;}
}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/animations/animations.min.css?ver=2.7.5 ; media=all */
@media all{
.fadeIn{animation-name:fadeIn;}
.fadeInUp{animation-name:fadeInUp;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/css/frontend.min.css?ver=2.7.5 ; media=all */
@media all{
.elementor-screen-only{position:absolute;top:-10000em;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border:0;}
.elementor-clearfix:after{content:"";display:block;clear:both;width:0;height:0;}
.elementor{-webkit-hyphens:manual;-ms-hyphens:manual;hyphens:manual;}
.elementor *,.elementor :after,.elementor :before{-webkit-box-sizing:border-box;box-sizing:border-box;}
.elementor a{-webkit-box-shadow:none;box-shadow:none;text-decoration:none;}
/*.elementor-invisible{visibility:hidden;}*/
.elementor-section{position:relative;}
.elementor-section .elementor-container{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;margin-right:auto;margin-left:auto;position:relative;}
.elementor-section.elementor-section-boxed>.elementor-container{max-width:1140px;}
.elementor-section.elementor-section-items-middle>.elementor-container{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.elementor-row{width:100%;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
@media (max-width:1024px){
.elementor-row{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;}
}
.elementor-column-wrap{width:100%;position:relative;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap{position:relative;width:100%;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-align-content:flex-start;-ms-flex-line-pack:start;align-content:flex-start;}
.elementor:not(.elementor-bc-flex-widget) .elementor-widget-wrap{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-widget-wrap>.elementor-element{width:100%;}
.elementor-widget{position:relative;}
.elementor-widget:not(:last-child){margin-bottom:20px;}
.elementor-column{position:relative;min-height:1px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;}
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated{padding:10px;}
@media (min-width:768px){
.elementor-column.elementor-col-25{width:25%;}
.elementor-column.elementor-col-50{width:50%;}
.elementor-column.elementor-col-100{width:100%;}
}
@media (max-width:767px){
.elementor-column{width:100%;}
}
@media (min-width:1025px){
#elementor-device-mode:after{content:"desktop";}
}
@media (min-width:768px) and (max-width:1024px){
#elementor-device-mode:after{content:"tablet";}
}
@media (max-width:767px){
#elementor-device-mode:after{content:"mobile";}
}
.elementor-element .elementor-widget-container{-webkit-transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;transition:background .3s,border .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;-o-transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s;transition:background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;}
.elementor-tab-title a{color:inherit;}
.elementor-widget-heading .elementor-heading-title{padding:0;margin:0;line-height:1;}
.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px;}
.elementor-toggle{text-align:left;}
.elementor-toggle .elementor-tab-title{font-weight:700;line-height:1;margin:0;padding:15px;border-bottom:1px solid #d4d4d4;cursor:pointer;outline:none;}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon{display:inline-block;width:1em;}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon.elementor-toggle-icon-left{float:left;text-align:left;}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-closed{display:block;}
.elementor-toggle .elementor-tab-title .elementor-toggle-icon .elementor-toggle-icon-opened{display:none;}
.elementor-toggle .elementor-tab-content{padding:15px;border-bottom:1px solid #d4d4d4;display:none;}
@media (max-width:767px){
.elementor-toggle .elementor-tab-title{padding:12px;}
.elementor-toggle .elementor-tab-content{padding:12px 10px;}
}
.animated{-webkit-animation-duration:1.25s;animation-duration:1.25s;}
@media (prefers-reduced-motion:reduce){
.animated{-webkit-animation:none;animation:none;}
}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/uploads/elementor/css/global.css?ver=1574217802 ; media=all */
@media all{
.elementor-widget-heading.elementor-widget-heading .elementor-heading-title{color:#6ec1e4;}
.elementor-widget-heading .elementor-heading-title{font-family:"Roboto", Sans-serif;font-weight:600;}
.elementor-widget-text-editor{color:#7a7a7a;font-family:"Roboto", Sans-serif;font-weight:400;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title{color:#6ec1e4;font-family:"Roboto", Sans-serif;font-weight:600;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content{color:#7a7a7a;font-family:"Roboto", Sans-serif;font-weight:400;}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/uploads/elementor/css/post-375.css?ver=1574237708 ; media=all */
@media all{
.elementor-375 .elementor-element.elementor-element-7879a47 > .elementor-container{max-width:1170px;min-height:40vh;}
.elementor-375 .elementor-element.elementor-element-7879a47 > .elementor-container:after{content:"";min-height:inherit;}
.elementor-375 .elementor-element.elementor-element-7879a47:not(.elementor-motion-effects-element-type-background){background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/rental-rates.png");background-position:0px 0px;background-repeat:no-repeat;background-size:cover;}
.elementor-375 .elementor-element.elementor-element-7879a47{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:152px 15px 147px 15px;}
.elementor-375 .elementor-element.elementor-element-21baed8 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-48e9382{text-align:center;}
.elementor-375 .elementor-element.elementor-element-48e9382.elementor-widget-heading .elementor-heading-title{color:#ffffff;}
.elementor-375 .elementor-element.elementor-element-48e9382 .elementor-heading-title{font-family:"Tajawal", Sans-serif;font-size:7.8em;font-weight:600;line-height:0.8em;letter-spacing:-5px;}
.elementor-375 .elementor-element.elementor-element-48e9382 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-46bc251:not(.elementor-motion-effects-element-type-background){background-color:#ffffff;background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/bg-triangle-1024x427-1.png");background-position:228px 0px;background-repeat:no-repeat;background-size:cover;}
.elementor-375 .elementor-element.elementor-element-46bc251{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:120px 0px 30px 0px;}
.elementor-375 .elementor-element.elementor-element-5b5961e > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}
.elementor-375 .elementor-element.elementor-element-5b5961e > .elementor-element-populated{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin:0px 10px 0px 10px;padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-cfca41d{text-align:center;}
.elementor-375 .elementor-element.elementor-element-cfca41d.elementor-widget-heading .elementor-heading-title{color:#000000;}
.elementor-375 .elementor-element.elementor-element-cfca41d > .elementor-widget-container{margin:0px 0px 10px 0px;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table{max-width:100%;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table .table-header th{padding:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table thead tr th{color:#fff;background-color:#000000;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table thead tr th:hover{color:#fff;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table thead > tr th .data-table-header-text{font-size:13px;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table tbody > tr:nth-child(2n) td{color:#6d7882;background:#f2f2f2;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table tbody > tr:nth-child(2n+1) td{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table tbody tr td{padding:15px 15px 15px 15px;font-weight:bold;}
.elementor-375 .elementor-element.elementor-element-0ac2928 .eael-data-table tbody > tr:nth-child(2n+1) td:hover{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-0ac2928 > .elementor-widget-container{margin:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table{max-width:100%;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table .table-header th{padding:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table thead tr th{color:#fff;background-color:#000000;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table thead tr th:hover{color:#fff;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table thead > tr th .data-table-header-text{font-size:13px;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table tbody > tr:nth-child(2n) td{color:#6d7882;background:#f2f2f2;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table tbody > tr:nth-child(2n+1) td{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table tbody tr td{padding:15px 15px 15px 15px;font-weight:bold;}
.elementor-375 .elementor-element.elementor-element-6a7c124 .eael-data-table tbody > tr:nth-child(2n+1) td:hover{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-6a7c124 > .elementor-widget-container{margin:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table{max-width:100%;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table .table-header th{padding:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table thead tr th{color:#fff;background-color:#000000;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table thead tr th:hover{color:#fff;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table thead > tr th .data-table-header-text{font-size:13px;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table tbody > tr:nth-child(2n) td{color:#6d7882;background:#f2f2f2;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table tbody > tr:nth-child(2n+1) td{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table tbody tr td{padding:15px 15px 15px 15px;font-weight:bold;}
.elementor-375 .elementor-element.elementor-element-83f4842 .eael-data-table tbody > tr:nth-child(2n+1) td:hover{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-83f4842 > .elementor-widget-container{margin:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table{max-width:100%;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table .table-header th{padding:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table thead tr th{color:#ffffff;background-color:#000000;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table thead tr th:hover{color:#fff;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table thead > tr th .data-table-header-text{font-size:13px;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table tbody > tr:nth-child(2n) td{color:#6d7882;background:#f2f2f2;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table tbody > tr:nth-child(2n+1) td{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table tbody tr td{padding:15px 15px 15px 15px;font-weight:bold;}
.elementor-375 .elementor-element.elementor-element-fb042fa .eael-data-table tbody > tr:nth-child(2n+1) td:hover{color:#6d7882;}
.elementor-375 .elementor-element.elementor-element-fb042fa > .elementor-widget-container{margin:15px 15px 15px 15px;}
.elementor-375 .elementor-element.elementor-element-ce81a0c{color:#000000;}
.elementor-375 .elementor-element.elementor-element-ce81a0c > .elementor-widget-container{margin:15px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-1166578 > .elementor-container{max-width:1170px;}
.elementor-375 .elementor-element.elementor-element-1166578:not(.elementor-motion-effects-element-type-background){background-color:#ffffff;background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/bg-triangle-1024x427-1.png");background-position:228px 0px;background-repeat:no-repeat;background-size:cover;}
.elementor-375 .elementor-element.elementor-element-1166578{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:70px 0px 30px 0px;}
.elementor-375 .elementor-element.elementor-element-ab7a798 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}
.elementor-375 .elementor-element.elementor-element-ab7a798 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 185px 0px 185px;}
.elementor-375 .elementor-element.elementor-element-28c74ba{text-align:center;}
.elementor-375 .elementor-element.elementor-element-28c74ba.elementor-widget-heading .elementor-heading-title{color:#000000;}
.elementor-375 .elementor-element.elementor-element-28c74ba > .elementor-widget-container{margin:10px 10px 10px 10px;}
.elementor-375 .elementor-element.elementor-element-626e419 .elementor-text-editor{text-align:justify;}
.elementor-375 .elementor-element.elementor-element-626e419{color:#000000;font-family:"Tajawal", Sans-serif;font-size:1.5em;font-weight:300;line-height:1.4em;letter-spacing:-0.4px;}
.elementor-375 .elementor-element.elementor-element-626e419 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:18px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-72228a4 .elementor-toggle .elementor-tab-title{background-color:rgba(0,0,0,0);color:#000000;font-size:21px;}
.elementor-375 .elementor-element.elementor-element-72228a4 .elementor-toggle .elementor-tab-content{color:#000000;font-family:"Tajawal", Sans-serif;font-size:19px;}
.elementor-375 .elementor-element.elementor-element-9cf38d5 .elementor-text-editor{text-align:justify;}
.elementor-375 .elementor-element.elementor-element-9cf38d5{color:#000000;font-family:"Tajawal", Sans-serif;font-size:1.5em;font-weight:300;line-height:1.4em;letter-spacing:-0.4px;}
.elementor-375 .elementor-element.elementor-element-9cf38d5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:18px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-9d22cac > .elementor-container{max-width:1170px;}
.elementor-375 .elementor-element.elementor-element-9d22cac:not(.elementor-motion-effects-element-type-background){background-color:#ffffff;background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/bg-triangle-1024x427-1.png");background-position:228px 0px;background-repeat:no-repeat;background-size:cover;}
.elementor-375 .elementor-element.elementor-element-9d22cac{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:70px 0px 30px 0px;}
.elementor-375 .elementor-element.elementor-element-c0c8212 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute){margin-bottom:0px;}
.elementor-375 .elementor-element.elementor-element-c0c8212 > .elementor-element-populated{margin:0px 0px 0px 0px;padding:0px 185px 0px 185px;}
.elementor-375 .elementor-element.elementor-element-3bd8578{text-align:center;}
.elementor-375 .elementor-element.elementor-element-3bd8578.elementor-widget-heading .elementor-heading-title{color:#000000;}
.elementor-375 .elementor-element.elementor-element-3bd8578 > .elementor-widget-container{margin:10px 10px 10px 10px;}
.elementor-375 .elementor-element.elementor-element-0529746 .elementor-text-editor{text-align:justify;}
.elementor-375 .elementor-element.elementor-element-0529746{color:#282525;font-family:"Tajawal", Sans-serif;font-size:1.5em;font-weight:300;line-height:1.4em;letter-spacing:-0.4px;}
.elementor-375 .elementor-element.elementor-element-0529746 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:18px 0px 0px 0px;}
@media (min-width:768px){
.elementor-375 .elementor-element.elementor-element-ee7b4c6{width:18.509%;}
.elementor-375 .elementor-element.elementor-element-5b5961e{width:62.982%;}
.elementor-375 .elementor-element.elementor-element-b836827{width:18.509%;}
}
@media (max-width:1024px){
.elementor-375 .elementor-element.elementor-element-7879a47{padding:80px 15px 80px 15px;}
.elementor-375 .elementor-element.elementor-element-48e9382 .elementor-heading-title{font-size:5.9em;}
.elementor-375 .elementor-element.elementor-element-46bc251{padding:80px 15px 0px 15px;}
.elementor-375 .elementor-element.elementor-element-1166578{padding:2em 2em 2em 2em;}
.elementor-375 .elementor-element.elementor-element-ab7a798 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-626e419{font-size:1em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-626e419 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:26px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-9cf38d5{font-size:1em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-9cf38d5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:26px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-9d22cac{padding:2em 2em 2em 2em;}
.elementor-375 .elementor-element.elementor-element-c0c8212 > .elementor-element-populated{padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-0529746{font-size:1em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-0529746 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:26px 0px 0px 0px;}
}
@media (max-width:767px){
.elementor-375 .elementor-element.elementor-element-7879a47{padding:45px 15px 45px 15px;}
.elementor-375 .elementor-element.elementor-element-48e9382{text-align:center;}
.elementor-375 .elementor-element.elementor-element-48e9382 .elementor-heading-title{font-size:4.3em;}
.elementor-375 .elementor-element.elementor-element-48e9382 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-46bc251{padding:50px 15px 0px 15px;}
.elementor-375 .elementor-element.elementor-element-5b5961e > .elementor-element-populated{margin:30px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-1166578{padding:30px 15px 0px 15px;}
.elementor-375 .elementor-element.elementor-element-626e419 .elementor-text-editor{text-align:center;}
.elementor-375 .elementor-element.elementor-element-626e419{font-size:0.9em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-626e419 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:23px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-9cf38d5 .elementor-text-editor{text-align:center;}
.elementor-375 .elementor-element.elementor-element-9cf38d5{font-size:0.9em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-9cf38d5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:23px 0px 0px 0px;}
.elementor-375 .elementor-element.elementor-element-9d22cac{padding:30px 15px 0px 15px;}
.elementor-375 .elementor-element.elementor-element-0529746 .elementor-text-editor{text-align:center;}
.elementor-375 .elementor-element.elementor-element-0529746{font-size:0.9em;line-height:1.4em;}
.elementor-375 .elementor-element.elementor-element-0529746 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:23px 0px 0px 0px;}
}
@media (min-width:1025px){
.elementor-375 .elementor-element.elementor-element-7879a47:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
.elementor-375 .elementor-element.elementor-element-46bc251:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
.elementor-375 .elementor-element.elementor-element-1166578:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
.elementor-375 .elementor-element.elementor-element-9d22cac:not(.elementor-motion-effects-element-type-background){background-attachment:fixed;}
}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/fontawesome.min.css?ver=5.9.0 ; media=all */
@media all{
.fa,.fas{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
.fa-angle-down:before{content:"\f107";}
.fa-angle-up:before{content:"\f106";}
.fa-bars:before{content:"\f0c9";}
.fa-caret-right:before{content:"\f0da";}
.fa-caret-up:before{content:"\f0d8";}
}
/*! CSS Used from: https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/css/solid.min.css?ver=5.9.0 ; media=all */
@media all{
.fa,.fas{font-family:"Font Awesome 5 Free";font-weight:900;}
}
/*! CSS Used from: Embedded */
[type="submit"]{width:100%;}
/*! CSS Used from: Embedded */
#site-logo #site-logo-inner{height:59px;}
#site-navigation-wrap .dropdown-menu >li >a,.oceanwp-mobile-menu-icon a{line-height:59px;}
#site-header{background-color:rgba(0,0,0,0);}
#site-header{border-color:rgba(241,241,241,0);}
#site-header.transparent-header{background-color:rgba(0,0,0,0.58);}
#site-navigation-wrap .dropdown-menu >li >a,.oceanwp-mobile-menu-icon a{color:#ffffff;}
#site-navigation-wrap .dropdown-menu >li >a:hover,.oceanwp-mobile-menu-icon a:hover{color:#03a9f4;}
#site-navigation-wrap .dropdown-menu >.current-menu-item >a,#site-navigation-wrap .dropdown-menu >.current-menu-item >a:hover{color:#03a9f4;}
/*! CSS Used keyframes */
@keyframes fadeIn{from{opacity:0;}to{opacity:1;}}
@keyframes fadeInUp{from{opacity:0;transform:translate3d(0,100%,0);}to{opacity:1;transform:none;}}
/*! CSS Used fontfaces */
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:400;font-display:auto;src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.eot);src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.eot#iefix) format("embedded-opentype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.woff2) format("woff2"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.woff) format("woff"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.ttf) format("truetype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-regular-400.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot);src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2) format("woff2"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff) format("woff"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.ttf) format("truetype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");}
@font-face{font-family:"Font Awesome 5 Free";font-style:normal;font-weight:900;font-display:auto;src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot);src:url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.eot#iefix) format("embedded-opentype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff2) format("woff2"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.woff) format("woff"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.ttf) format("truetype"),url(https://wp.pradosdelsol.com/wp-content/plugins/elementor/assets/lib/font-awesome/webfonts/fa-solid-900.svg#fontawesome) format("svg");}
@font-face{font-family:'FontAwesome';src:url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.eot?v=4.7.0');src:url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/fontawesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'simple-line-icons';src:url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0');src:url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.eot?v=2.4.0#iefix')format('embedded-opentype'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.woff2?v=2.4.0')format('woff2'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.ttf?v=2.4.0')format('truetype'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.woff?v=2.4.0')format('woff'),url('https://wp.pradosdelsol.com/wp-content/themes/oceanwp/assets/fonts/simple-line-icons/Simple-Line-Icons.svg?v=2.4.0#simple-line-icons')format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEz0dL_nz.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzQdL_nz.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzwdL_nz.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzMdL_nz.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEz8dL_nz.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEz4dL_nz.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:100;src:local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc3CsTKlA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc-CsTKlA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc2CsTKlA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc5CsTKlA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc1CsTKlA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc0CsTKlA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:300;src:local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xFIzIFKw.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xMIzIFKw.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xEIzIFKw.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xLIzIFKw.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xHIzIFKw.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xGIzIFKw.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:400;src:local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc3CsTKlA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc-CsTKlA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc2CsTKlA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc5CsTKlA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc1CsTKlA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc0CsTKlA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:500;src:local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic3CsTKlA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic-CsTKlA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic2CsTKlA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic5CsTKlA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic1CsTKlA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic0CsTKlA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:700;src:local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc3CsTKlA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc-CsTKlA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc2CsTKlA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc5CsTKlA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc1CsTKlA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc0CsTKlA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:italic;font-weight:900;src:local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxFIzIFKw.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzIFKw.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxEIzIFKw.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxLIzIFKw.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxHIzIFKw.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxGIzIFKw.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:100;src:local('Roboto Thin'), local('Roboto-Thin'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:300;src:local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:500;src:local('Roboto Medium'), local('Roboto-Medium'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:700;src:local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCRc4EsA.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfABc4EsA.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCBc4EsA.woff2) format('woff2');unicode-range:U+1F00-1FFF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBxc4EsA.woff2) format('woff2');unicode-range:U+0370-03FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfCxc4EsA.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfChc4EsA.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Roboto';font-style:normal;font-weight:900;src:local('Roboto Black'), local('Roboto-Black'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:200;src:local('Tajawal ExtraLight'), local('Tajawal-ExtraLight'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l_6gHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:200;src:local('Tajawal ExtraLight'), local('Tajawal-ExtraLight'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l_6gHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:300;src:local('Tajawal Light'), local('Tajawal-Light'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5qjHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:300;src:local('Tajawal Light'), local('Tajawal-Light'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5qjHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:400;src:local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v3/Iura6YBj_oCad4k1nzSBC45I.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:400;src:local('Tajawal'), local('Tajawal-Regular'), url(https://fonts.gstatic.com/s/tajawal/v3/Iura6YBj_oCad4k1nzGBCw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:500;src:local('Tajawal Medium'), local('Tajawal-Medium'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:500;src:local('Tajawal Medium'), local('Tajawal-Medium'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l8KiHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:700;src:local('Tajawal Bold'), local('Tajawal-Bold'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l4qkHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:700;src:local('Tajawal Bold'), local('Tajawal-Bold'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l4qkHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:800;src:local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5anHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:800;src:local('Tajawal ExtraBold'), local('Tajawal-ExtraBold'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l5anHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:900;src:local('Tajawal Black'), local('Tajawal-Black'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l7KmHrRpiYlJ.woff2) format('woff2');unicode-range:U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;}
@font-face{font-family:'Tajawal';font-style:normal;font-weight:900;src:local('Tajawal Black'), local('Tajawal-Black'), url(https://fonts.gstatic.com/s/tajawal/v3/Iurf6YBj_oCad4k1l7KmHrFpiQ.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
