.elementor-1086 .elementor-element.elementor-element-a1c4604 > .elementor-container {
 max-width:1170px;
 min-height:50vh;
}
.elementor-1086 .elementor-element.elementor-element-a1c4604 > .elementor-container:after {
 content:"";
 min-height:inherit;
}
.elementor-1086 .elementor-element.elementor-element-a1c4604:not(.elementor-motion-effects-element-type-background),
.elementor-1086 .elementor-element.elementor-element-a1c4604 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
 background-color:#000000;
 background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/picturemessage_cgbhrame.cct_.png");
 background-position:0px 0px;
 background-repeat:no-repeat;
 background-size:cover;
}
.elementor-1086 .elementor-element.elementor-element-a1c4604 > .elementor-background-overlay {
 background-color:#000000;
 opacity:0.4;
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1086 .elementor-element.elementor-element-a1c4604 {
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
 margin-top:0px;
 margin-bottom:0px;
 padding:60px 0px 60px 0px;
}
.elementor-1086 .elementor-element.elementor-element-4d6df34 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
 margin-bottom:0px;
}
.elementor-1086 .elementor-element.elementor-element-4d6df34 > .elementor-element-populated {
 margin:0px 0px 0px 0px;
 padding:0px 350px 0px 0px;
}
.elementor-1086 .elementor-element.elementor-element-dea7c86 {
 text-align:left;
}
.elementor-1086 .elementor-element.elementor-element-dea7c86.elementor-widget-heading .elementor-heading-title {
 color:#ffffff;
}
.elementor-1086 .elementor-element.elementor-element-dea7c86 .elementor-heading-title {
 font-family:"Tajawal", Sans-serif;
 font-size:7.8em;
 font-weight:600;
 line-height:0.8em;
 letter-spacing:-5px;
}
.elementor-1086 .elementor-element.elementor-element-dea7c86 > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-1086 .elementor-element.elementor-element-a60b5a6 .elementor-text-editor {
 text-align:left;
 columns:1;
}
.elementor-1086 .elementor-element.elementor-element-a60b5a6 {
 color:#ffffff;
 font-family:"Tajawal", Sans-serif;
 font-size:2em;
 font-weight:300;
 line-height:1.4em;
 letter-spacing:-1.2px;
}
.elementor-1086 .elementor-element.elementor-element-a60b5a6 > .elementor-widget-container {
 margin:0px 0px 0px 0px;
 padding:18px 0px 0px 0px;
}
.elementor-1086 .elementor-element.elementor-element-28a5343:not(.elementor-motion-effects-element-type-background),
.elementor-1086 .elementor-element.elementor-element-28a5343 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
 background-image:url("https://wp.pradosdelsol.com/wp-content/uploads/2019/09/bg-triangle-1024x427-1.png");
 background-position:167px 0px;
 background-repeat:no-repeat;
 background-size:cover;
}
.elementor-1086 .elementor-element.elementor-element-28a5343 {
 transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1086 .elementor-element.elementor-element-28a5343 > .elementor-background-overlay {
 transition:background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1086 .elementor-element.elementor-element-0ecc08f .elementor-spacer-inner {
 height:50px;
}
.elementor-1086 .elementor-element.elementor-element-9e41bb9 {
 text-align:center;
}
.elementor-1086 .elementor-element.elementor-element-9e41bb9.elementor-widget-heading .elementor-heading-title {
 color:#000000;
}
.elementor-1086 .elementor-element.elementor-element-9e41bb9 .elementor-heading-title {
 font-size:30px;
}
.elementor-1086 .elementor-element.elementor-element-0cf24bd > .elementor-element-populated {
 margin:0px 0px 0px 0px;
 padding:0px 0px 0px 0px;
}
.elementor-1086 .elementor-element.elementor-element-217b4aa {
 color:#000000;
 font-family:"Tajawal", Sans-serif;
 font-size:16px;
}
.elementor-1086 .elementor-element.elementor-element-f9a6a64 {
 color:#000000;
 font-family:"Tajawal", Sans-serif;
 font-size:16px;
}
.elementor-1086 .elementor-element.elementor-element-16d2169 {
 color:#000000;
 font-family:"Tajawal", Sans-serif;
 font-size:16px;
}
.elementor-1086 .elementor-element.elementor-element-3e4a763 {
 color:#000000;
 font-family:"Tajawal", Sans-serif;
 font-size:16px;
}
.elementor-1086 .elementor-element.elementor-element-56f44f6 {
 color:#000000;
 font-family:"Tajawal", Sans-serif;
 font-size:16px;
}
@media(min-width:768px) {
 .elementor-1086 .elementor-element.elementor-element-c0ea173 {
  width:23.785%;
 }
 .elementor-1086 .elementor-element.elementor-element-bd37bcc {
  width:51.923%;
 }
 .elementor-1086 .elementor-element.elementor-element-0ab08eb {
  width:24.291%;
 }
}
@media(max-width:1024px) {
 .elementor-1086 .elementor-element.elementor-element-a1c4604 {
  padding:61px 15px 73px 15px;
 }
 .elementor-1086 .elementor-element.elementor-element-4d6df34 > .elementor-element-populated {
  padding:0px 0px 0px 0px;
 }
 .elementor-1086 .elementor-element.elementor-element-dea7c86 {
  text-align:center;
 }
 .elementor-1086 .elementor-element.elementor-element-dea7c86 .elementor-heading-title {
  font-size:6em;
 }
 .elementor-1086 .elementor-element.elementor-element-a60b5a6 {
  font-size:1.8em;
  line-height:1.2em;
 }
 .elementor-1086 .elementor-element.elementor-element-a60b5a6 > .elementor-widget-container {
  margin:0px 0px 0px 0px;
  padding:26px 0px 0px 0px;
 }
}
@media(max-width:767px) {
 .elementor-1086 .elementor-element.elementor-element-a1c4604 {
  padding:45px 15px 38px 15px;
 }
 .elementor-1086 .elementor-element.elementor-element-dea7c86 {
  text-align:center;
 }
 .elementor-1086 .elementor-element.elementor-element-dea7c86 .elementor-heading-title {
  font-size:4.3em;
 }
 .elementor-1086 .elementor-element.elementor-element-dea7c86 > .elementor-widget-container {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
 }
 .elementor-1086 .elementor-element.elementor-element-a60b5a6 .elementor-text-editor {
  text-align:center;
 }
 .elementor-1086 .elementor-element.elementor-element-a60b5a6 {
  font-size:1.3em;
 }
 .elementor-1086 .elementor-element.elementor-element-a60b5a6 > .elementor-widget-container {
  margin:0px 0px 0px 0px;
  padding:23px 0px 0px 0px;
 }
}
@media(min-width:1025px) {
 .elementor-1086 .elementor-element.elementor-element-a1c4604:not(.elementor-motion-effects-element-type-background),
 .elementor-1086 .elementor-element.elementor-element-a1c4604 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-attachment:fixed;
 }
 .elementor-1086 .elementor-element.elementor-element-28a5343:not(.elementor-motion-effects-element-type-background),
 .elementor-1086 .elementor-element.elementor-element-28a5343 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-attachment:fixed;
 }
}
